@media only screen and (max-width: 628px){
    .img{
        background:url("../images/image-product-mobile.jpg") no-repeat top;
        height: 350px;
        width: 350px;
        border-radius: 10px 10px 0 0px;
    }
    .anuncio{
        flex-direction: column;
        width: 350px;
        
        
        /* background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
    
}