@media only screen and (max-width: 628px){
    .img{
        background:url("../images/image-product-mobile.jpg") no-repeat top;
        height: 350px;
        width: 350px;
        border-radius: 10px 10px 0 0px;
    }
    .anuncio{
        flex-direction: column;
        width: 350px;
        height: 600px;
    }
}
